<h1 class="animated fadeIn">Inicio  <i class="bi bi-house"></i></h1>
<hr>

<div class="row animated fadeIn fast">

  <div class="container">
    En esta aplicación mostramos algunos de los videojuegos que solemos jugar cuando estamos con nuestros amigos, 
    regularmente nos juntamos el fin de semana a pasar el rato en
    <br><br>
</div>

<div align="center">
  <div class="card-body">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4901.129986986239!2d-102.76086082036807!3d20.333660043193817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842edf91459b4f73%3A0x7f39b592da7d4ba7!2sJuntas%20y%20Reuniones%20%22H%C3%A9ctor%22!5e0!3m2!1ses!2smx!4v1654043510819!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
  <div class="card-tittle">
    <h5>Mi Casa <i class="bi bi-hand-thumbs-up"> </i></h5> 
  </div>
</div>
